{% extends "layout.html" %}
{% block body %}
<h3>Hakkımda</h3>
<hr>
Bursa Teknik Üniversitesi makine mühendisliği 2. sınıf öğrencisiyim.
Üniversitede hayatımın ilk senesinde İngilizce hazırlık eğitimi aldım.
Bursa'da yaşamaktayım. Okuluma çeşitli topluluklar ve eğitimlerle birlikte
devam etmekteyim. Aynı zamanda Genç Liderler Topluluğu kurucu
üyelerindenim. Yeni ortamlara kolay adapte olabilen ve yeni beceriler
öğrenmeye açık birisiyim. Hızlı öğrenme yeteneğim ve çalışma azmim
sayesinde her departmanda gerekli verimi verebilecek karaktere
sahibim. Bir şeyleri tekrarlamaktansa yenilik üretmeyi, eski köye yeni adet
getirmeyi severim.
<hr>
{% endblock body %}